$blue:#409EFF;
$success:#67C23A;
$warning:#E6A23C;
$danger:#F56C6C;
$info:#909399;

$font-color-1:#303133;
$font-color-2:#606266;
$font-color-3:#909399;
$font-color-4:#C0C4CC;

$border-color-1:#DCDFE6;
$border-color-2:#E4E7ED;
$border-color-3:#EBEEF5;
$border-color-4:#F2F6FC;

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin size-color($size, $color) {
  font-size: $size;
  color: $color;
}

@mixin vertical-center($height) {
  height: $height;
  line-height: $height;
}

@mixin dz($time:0.25s){
  -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -o-transition: all $time ease-in-out;
  -ms-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
}

.title {
  text-align: left;
  font-size: 1.5rem;
  margin: 0 0 10px 20px;
  padding-top: 10px;
}

.page-container {
  width: 1100px;
  display: flex;
  margin: 20px 20px;
  padding-bottom: 20px;
  .amount {
    display: inline-block;
  }
  .pagination {
    margin-left: auto;
  }
}

.btn-group{
  display: flex;
  justify-content: flex-start;
  margin: 5px 0 10px 20px;
}
